<h1>GPT single message</h1>
<p><form action="/msg_response" method="post">
  <label for="msg_input">Your message:</label>
  <input id="msg_input" type="text" name="user_msg">
  <button>Send!</button>
</form>
