<h1>Should I take an umbrella?</h1>

<form action="/umbrella_results" method="post">
  <label for="loc_input">Where are you located?</label>
  <input id="loc_input" type="text" name="user_loc">
  <button>Submit</button>
</form>
